html{
    background: url(../images/energy-sun-3.jpg) fixed no-repeat;
    background-color: #160002;
    background-size: contain;
}
html, body{
    margin:0;
    padding:0;
}
body *{
    box-sizing: border-box;
}
body{
    font: 16px/1.9 Verdana, Tahoma, Arial, serif;
    color: #ead9bd;
}
h1,h2,h3,h4,h5,h6{
}
h1{
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1.6;
    margin-top: 78px;
}
article{
    box-shadow: 0 0 13px 0px rgba(22,0,2,0.33);
    border-radius: 12px;
    margin: calc(44% - 138px) -48px auto;
    background: rgba(22, 0, 2, 0.5);
    padding: 12px 48px;
}
iframe{
    max-width: 100%;
}
main{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width:80%;
}

p:hover{
    background-color: rgba(255,255,255,0.15);
    padding: 8px 10px;
    margin: -8px -10px;
}