extends ../components/layout
block vars
    - var title = 'Awakening'
    - var body_class = 'awakening'
block header
    |#{title}
block contents
    p CONTENT
block media
    +youtube('s-IX9a4r7wY')