extends ../components/layout
block vars
    - var title = 'How to feel it?'
block header
    |#{title}
block contents
    p Здесь расскажем про ощущение электрического разряда в голове и прочих признаках перехода на новый уровень энергетического баланса.
block media
    +youtube('K8ogTKT4UVs')