extends ../components/layout
block vars
    - var title = 'How it will change my life?'
    - var body_class = 'how-it-will-change-my-life'
block header
    |#{title}
block contents
    p Здесь мы расскажем о тех недостижимым ранее возможностях, которые появятся перед человеком, когда он перейдёт на новый уровень энергетического баланса.
    p О том, что это будет происходить "само собой" и как результаты этого непосредственным образом отразятся на его жизни:
    ul
        li Помогут ему достичь качественно новых высот в карьере и личных отношениях.
        li Позволят избавиться от постоянного стресса и сомнений в себе
        li Cделают его членом сообщества, являющегося колоссальным источником дополнительной энергии.
        li В конечном итоге превратят этот процесс в бесконечный цикл с положительной обратной связью.
block media
    +youtube('CEjU9KVABao')