extends ../components/layout
block vars
    - var title = 'True Romance'
    - var body_class = 'true-romance'
block header
    |#{title}
block contents
    p CONTENT
block media
    +youtube('aLR_bSzPTiY')