extends ../components/layout
block vars
    - var title = 'What is *energy*?'
block header
    |#{title}
block contents
    p Тут нужно постараться не впасть в слушком умные рассуждения. Т.е., хорошо подумать, как простым и понятным языком изложить следующее:
    ol
        li Энергия есть космологический феномен, она рассеяна повсюду во вселенной. Свидетельства её существования мы можем видеть каждый день здесь, на Земле.
        li Энергия есть внутри каждого человека. Она досталась нам по наследству от наших биологических предков (примеры проявления в животном мире и среди людей). В доисторические времена почти вся она уходила на борьбу за выживание и, по возможности, размножение.
        li Сейчас людям уже не надо тратить её в таком количестве, поскольку изменилась наша среда обитания. Задача состоит в том, чтобы направить её в нужное для индивидуума (и общества) русло.
block media
    +youtube('LINK')