extends ../components/layout
block vars
    - var title = 'Where does it reside and how to retrieve it?'
    - var body_class = 'where-does-it-reside-and-how-to-retrieve-it'
block header
    |#{title}
block contents
    p Энергия повсюду, внутри каждого человека, как мы уже писали в разделе <a href="what-is-energy.html">what-is-energy</a> и вне его. Наше общество переполнено энергией, но проблема большинства людей в том, что они не знают, как извлечь её и для чего использовать. Они не понимают, что этот такое. Именно поэтому их жизнь сопровождается отсутствием какого-либо заметного личного прогресса, а значит — бесконечным стрессом и разочарованием.
block media
    +youtube('CingEwu6vA8')