extends ../components/layout
block vars
    - var title = 'Why you cannot to obtain it right now and if it possible at all?'
block header
    |#{title}
block contents
    p Потому что для этого нужно пройти несколько стадий понимания предмета и приобретением способности извлекать энергию из окружающей человека среды обитания, аккумулировать её и использовать для достижения результатов. 
    p Мы ни в коем случае не собираемся вводить вас в заблуждение. Это нелегко. Для того, чтобы научиться этому, требуются годы. И для этого нужно быть по-настоящему умным. Хорошая новость заключается в том, что раз вы дошли до этого раздела, вы уже умны. Кроме того, вам не надо делать этого в одиночку. Результаты того, что происходит в вашем сознании, вы сможете ощутить уже скоро, и это будет не просто ощущением, это уже повлияет на вашу жизнь. 
    p Как вы почувствуете это? Мы написали об этом в разделе <a href="how-to-feel-it.html">how-to-feel-it</a>. Признаки трансформации вашей личности будут для вас очевидны. И они будут необратимыми.
block media
    +youtube('LINK')