extends ../components/layout
block vars
    - var title = 'Why you cannot to obtain it right now and if it possible at all?'
block header
    |#{title}
block contents
    p CONTENT
block media
    +youtube('LINK')