@mixin themeHeader(
		$bg-color:null, 
		$bg-image:null, 
		$planet-color:null, 
		$color-pos:34%, 
		$transp-pos:70%, 
		$transp:transparent
	){
	
	@if $bg-color {
		background-color: $bg-color;
	}
	@if $bg-image{
		#page-background {
			background-image: url(../images/#{$bg-image}.jpg);
		}
	}
	@if $planet-color{
		#hamburger > span:before {
			background-image: radial-gradient($planet-color $color-pos, $transp $transp-pos);
		}
	}
}
@mixin articleSet($boxshadow-color, $background-color:null){
	article {
		section{
			box-shadow: 0 0 13px 0 $boxshadow-color;
			@if $background-color {
				background: $background-color;
			}
		}
	}
}

.what-is-energy {
	//background-image: linear-gradient(to right, $color_vulcan_approx, $color_tangaroa_approx);
	@include themeHeader(rgb(0,4,20), what-is-energy, $color_jaguar_75_approx);
	@include articleSet(rgba(0,4,20, 0.35), rgba(0,4,20, 0.5));
}
.how-to-feel-it {
	@include themeHeader($black, how-to-feel-it, $black_75);
	@include articleSet($black_33, $black_50);
}
.where-does-it-reside-and-how-to-retrieve-it {
	@include themeHeader($black, where-does-it-reside-and-how-to-retrieve-it, $black_75);
	@include articleSet($black_33, $black_50);
}
.why-you-cannot-obtain-it-right-now-and-if-it-possible-at-all {
	@include themeHeader($color_green_waterloo_approx, why-you-cannot-obtain-it-right-now-and-if-it-possible-at-all, $color_harvest_gold_approx);
	@include articleSet($color_green_waterloo_33_approx, $color_green_waterloo_50_approx);
}
.how-it-will-change-my-life {
	@include themeHeader($color_asphalt_approx, how-it-will-change-my-life, #020001);
	@include articleSet($color_asphalt_33_approx, $color_asphalt_50_approx);
}
// second menus themes
.awakening {
	@include themeHeader(#0b1619, awakening, #0b1619);
	@include articleSet(rgba(11, 22, 25, 0.35), rgba(11, 22, 25, 0.33));
}
.empathy{
	h1 {
		div{
			text-shadow: 1px 1px 14px rgba(137, 113, 46, 0.15), -1px -1px 14px rgba(137, 113, 46, 0.15), -1px 1px 14px rgba(137, 113, 46, 0.15), 1px -1px 14px rgba(137, 113, 46, 0.15);
		}
		a {
			div{
				color: rgb(123, 112, 73);
			}
		}
	}
	@include themeHeader(
			rgb(87, 80, 67), 
			empathy1
		);
	#hamburger > span{
		&:after {
			background-image: radial-gradient(rgb(233, 233, 223) 58%, transparent 92%);
			transform: translate(-7px, -54px);
		}
		&:before {
			background-image: radial-gradient(#000000 20%, transparent 73%);
			opacity: 0.5;
			transform: translate(-3px, -3px);
		}
		&:hover{
			opacity: 0.65;
			&:after{
				background-image: radial-gradient(#f7f7f7 0%, transparent 84%);
				transform: translate(-1px, -53px);
			}
			&:before{
				opacity:0.3;
				transform: translate(0px, -3px);
			}
		}
	}
	@include articleSet(rgba(87, 80, 67, 0.33), rgba(87, 80, 67, 0.5));
	$link-color: #000;
}
.ecstasy{
	@include themeHeader(#020202, ecstasy, rgb(147, 169, 190));
	@include articleSet(rgba(2, 2, 2, 0.35), rgba(2, 2, 2, 0.33));
}
.freedom{
	@include themeHeader(#1a0f25, freedom1, rgba(175, 141, 76, 0.4));
	@include articleSet(rgba(26, 15, 37, 0.35), rgba(26, 15, 37, 0.33));
}
.heroism{
	@include themeHeader(rgb(74, 33, 26), heroism, rgb(74, 47, 30));
	@include articleSet(rgba(74, 33, 26, 0.35), rgba(74, 33, 26, 0.33));
}
.true-romance{
	@include themeHeader(null, true-romance);
}