//colors
$color_diesel_approx: #160002;
$color_raffia_approx: #ead9bd;
$color_periwinkle_approx: rgb(203, 203, 247);
$white_15: rgba(255,255,255,0.15);
$color_spring_wood_approx: rgb(251, 246, 242);
$color_brown_pod_75_approx: rgba(69, 22, 2, 0.75);
$color_jaguar_75_approx: rgba(1, 4, 21, 0.75);
$black_75: rgba(0, 0, 0, 0.75);
$color_vulcan_approx: #0d1023;
$color_tangaroa_approx: #051d39;
$color_green_waterloo_approx: rgb(20, 17, 12);
$color_harvest_gold_approx: rgb(225, 186, 119);
$color_asphalt_approx: rgb(2, 0, 1);
$color_nutmeg_approx: #7d3f33;
$color_kilamanjaro_approx: rgb(41, 11, 4);
$black: #000;
$color_spring_wood_80_approx: rgba(251, 246, 242, 0.8);
$color_diesel_33_approx: rgba(22,0,2,0.33);
$color_diesel_50_approx: rgba(22, 0, 2, 0.5);
$color_jaguar_33_approx: rgba(1, 4, 21, 0.33);
$color_jaguar_50_approx: rgba(1, 4, 21, 0.5);
$color_green_waterloo_33_approx: rgba(19, 21, 13, 0.33);
$color_green_waterloo_50_approx: rgba(19, 21, 13, 0.5);
$color_asphalt_33_approx: rgba(12, 7, 3, 0.33);
$color_asphalt_50_approx: rgba(12, 7, 3, 0.5);
$black_33: rgba(0,0,0,0.33);
$black_50: rgba(0, 0, 0, 0.5);
$white_35: rgba(255,255,255,0.35);

//urls
$img_energySun3: url(../images/energy-sun-3.jpg);
/* $img_whatIsEnergy: url(../images/what-is-energy.jpg);
$img_whyYouCannotObtainIt: url(../images/why-you-cannot-obtain-it-right-now-and-if-it-possible-at-all.jpg);
$img_howItWillChangeMyLife: url(../images/how-it-will-change-my-life.jpg);
$img_whereDoesItReside: url(../images/where-does-it-reside-and-how-to-retrieve-it.jpg);
$img_howToFeelIt: url(../images/how-to-feel-it.jpg);
$img_awakening: url(../images/awakening.jpg); */

//breakpoints
$breakPointMobileBig: 600px;
$breakPointTablet: 900px;
$breakPointDesktopSmall: 1024px;

// specific values
$hamburger-pseudo-offset:54px;