include ./mixins
block vars
doctype html
// https://www.youtube.com/watch?v=Qd1-S99Q0dc
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/css.css')
    script(src='js/jquery.min.js')
  - var menu1 = { "what-is-energy": "What is energy indeed?" , "how-it-will-change-my-life": "How it will change my life?" , "why-you-cannot-obtain-it-right-now-and-if-it-possible-at-all": "Why you cannot obtain it right now and if it possible at all?" , "where-does-it-reside-and-how-to-retrieve-it": "Where does it reside and how to retrieve it?" , "how-to-feel-it": "How to feel it?" }
  - var menu2 = { 'awakening':'Awakening', 'beauty-of-infinite-life':'A Beauty of infinite Life', 'empathy':'Empathy', 'extasy':'Extasy', 'freedom':'Freedom', 'heroism':'Heroism', 'sex':'Sex', 'true-romance':'True Romance' }
  body(class=body_class)
    main
      header
        section#section-logo
          h1
            a#headerLink-homepage(href='index.html', title='Go to Homepage')
              div All you need
              div is Energy
            #hamburger
        section#section-menu.passive
          +menu(menu1)
          +menu(menu2)
      article
        section
          h2 
              block header
          block contents
          +menu(menu1)
          br
          block media
    +menu(menu2,'footer')
    #page-background
    script(src="js/app.js")