include ./mixins
block vars
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/css.css')
    script(src='js/jquery.min.js')
  - var data = [{ "what-is-energy": "What is energy indeed?" }, { "how-it-will-change-my-life": "How it will change my life?" }, { "why-you-cannot-to-obtain-it-right-now-and-if-it-possible-at-all": "Why you cannot obtain it right now and if it possible at all?" }, { "where-does-it-reside-and-how-to-retrieve-it": "Where does it reside and how to retrieve it?" }, { "how-to-feel-it": "How to feel it?" }]
  body(class=body_class)
    main
      header
        #second-menu
          +extPages('section')
        h1
          a(href="index.html", title="Go to Homepage")
            div All you need
            div is Energy
        #hamburger
        +menu(data)
      article
        section
          h2 
              block header
          block contents
          +menu(data)
          br
          block media
    +extPages('footer')
    #page-background
    script(src="js/app.js")