mixin youtube(link)
  iframe(width='900', height='506', src='https://www.youtube.com/embed/' + link, frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='')
mixin menu(data, selector, cls)
  if !cls
    if !selector
      -var cls = 'menu'
      -var selector = 'ul'
  #{selector}(class=cls)
    each text, link in data
      li
        a(href=link + '.html') #{text}
