#page-background {
	background-image: $img_energySun3;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	@include headerHeight;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}