* {
	body &{
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
}
a{	
	&:hover {
		.menu &{			
			background-color: #000;
			color: white;
			margin: auto -10px;
			padding: 0 10px;
		}
	}
	footer &{
		float: left;
		clear: left;
		&:hover {
			color: $color_raffia_approx;
			opacity: 1;
		}
	}
	h1 &{
		&:hover {
			border-bottom: none;
		}
	}
	li & {
		display: inline-block;
	}
}
div {
	h1 &{
		color: $color_spring_wood_approx;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 1px 1px 14px $white_35, -1px -1px 14px $white_35, -1px 1px 14px $white_35, 1px -1px 14px $white_35;
	}
	h1 &{
		clear: both;
		display: inline-block;
		float: left;
		position: relative;
	}
}
h1{
	header &{
		margin-bottom: -$hamburger-pseudo-offset;
		margin-top: auto;
	}
}
h2 {
	article &{
		clear: both;
		font-weight: normal;
	}
}
li {
	article &{
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 1px 1px 18px $color_spring_wood_80_approx;
	}
}
p {
	&:hover {
		background-color: $white_15;
		padding: 8px 10px;
		margin: -8px -10px;
	}
	article &{
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 1px 1px 18px $color_spring_wood_80_approx;
	}
}
section {
	article &{
		margin-left: -48px;
		margin-right: -48px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 13px 0 $color_diesel_33_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 12px;
		background: $color_diesel_50_approx;
		padding: 12px 48px;
	}
}
