.menu { // $color_periwinkle_approx
    margin-top: 30px;
    margin-bottom: 6px;
    padding-left: 0;
    header &{      
        padding: 10px 14px;
        position: relative;
        list-style: square;
    }
}